<header>
    <div class="logo-banner">
        <img class="svg" src="./billeder/stjerne0.png" alt="">
        <p>Boligstjernen</p>
    </div>
    <nav>
       <ul>
           <!-- class="active" til li for active se script -->
           <li><a href="/">Forside</a></li>
           <li><a href="/bolig/soeg">Find bolig</a></li>
           <li><a href="/nyheder">Nyheder</a></li>
           <li><a href="/kontakt">Kontakt</a></li>
       </ul>
    </nav>
</header>